.environment {
    margin: 20px 0;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 5px;
}

.environment > h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.environment .product > span {
    text-transform: uppercase;
    font-size: 1.3em;
}

.environment .product .name {
    width: 60%;
    display: inline-block;
}

.environment .product .plugin {
    margin-bottom: 5px;
}

/** BLUE **/
.environment.blue {
    background-color: #547dc3;
}

.environment.blue > h2 {
    color: #002a5e !important;
}

.environment.blue .product > span {
    color: #004a7a;
}

/** LIGHT_BLUE **/
.environment.lightblue {
    background-color: #ccd9ea;
}

.environment.lightblue > h2 {
    color: #34495e !important;
}

.environment.lightblue .product > span {
    color: #4a6785;
}

.environment.lightblue .product .plugin {
    color: #79a9da;
}

/** RED **/
.environment.red {
    background-color: #b73d2b;
}

.environment.red > h2 {
    color: #600007 !important;
}

.environment.red .product > span {
    color: #750004;
}

/** GREEN **/
.environment.green {
    background-color: #89c495;
}

.environment.green > h2 {
    color: #0d581c !important;
}

.environment.green .product > span {
    color: #106d23;
}

/** ORANGE **/
.environment.orange {
    background-color: #f1a257;
}

.environment.orange > h2 {
    color: #793f08 !important;
}

.environment.orange .product > span {
    color: #ad5a0b;
}

/** YELLOW **/
.environment.yellow {
    background-color: #ffe9a8;
}

.environment.yellow > h2 {
    color: #a18124 !important;
}

.environment.yellow .product > span {
    color: #d3aa30;
}

.environment.yellow .product .plugin {
    color: black;
}